body {

background-color: #f4ecd8; color: #1alala; font-family: 'Times New

}

header {

}

nav {

Roman',(

serif;

text-align: center;

border-bottom: 3px double #000;

text-align: center; border-bottom: 1px solid #000; padding: 5px;

}

main {

max-width: 600px;

margin: auto;

line-height: 1.6;

}

footer {

}

font-style: italic;

border-top: 1px solid #000;

body {

background-color: #f4ecd8; color: #1alala; font-family: 'Times New

}

header {

}

nav {

Roman',(

serif;

text-align: center;

border-bottom: 3px double #000;

text-align: center; border-bottom: 1px solid #000; padding: 5px;

}

main {

max-width: 600px;

margin: auto;

line-height: 1.6;

}

footer {

}

font-style: italic;

border-top: 1px solid #000;

margin-top: 30px;